.character-card {
  background-color: $bg-body;
  border-radius: $border-radius-5;
  box-shadow: $shadow-dark-grey;
  width: 280px;

  .card-image {
    border-top-left-radius: $border-radius-5;
    border-top-right-radius: $border-radius-5;
  }

  .card-body {
    padding: 0.5rem;

    .card-title {
      margin: 0;
      color: $hover-primary;
    }
  }
}
