@import './variables.scss';

// components imports
@import '../components/layout/header/header.scss';
@import '../components/anime-card/anime-card.scss';
@import '../components/pagination/pagination.scss';
@import '../components/search-bar/search-bar.module.scss';

// tabs imports
@import '../components/tabs/about/about-tab.scss';
@import '../components/tabs/characters/characters-tab.scss';
@import '../components/tabs/characters/character-card.scss';

// pages imports
@import '../pages/anime/top-anime.scss';
@import '../pages/anime/single-anime.scss';
@import '../pages/anime/seasonal-anime.scss';

// fonts imports
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $bg-body;
  color: $text-primary;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
}

.title {
  color: $hover-primary;
}

.btn {
  border: 0;
  border-radius: $border-radius-5;
  background-color: $bg-secondary;
  color: $text-primary;
  &:hover {
    background-color: $hover-primary;
    cursor: pointer;
  }
}

.btn-secondary {
  border: 0;
  border-radius: $border-radius-5;
  background-color: $hover-primary;
  color: $text-primary;
  &:hover {
    background-color: $bg-body;
    color: $hover-primary;
    cursor: pointer;
  }
}

.anime-rank {
  background-color: $bg-secondary;
  border-top-left-radius: $border-radius-5;
  border-bottom-right-radius: $border-radius-5;
  color: $hover-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0.5rem;
}
