// text colors
$text-primary: #d3e0ea;
$text-secondary: #ececec;
$hover-primary: #ff1e56;
// background colors
$bg-secondary: #272727;
$bg-body: #323232;
// borders
$border-default: 1px solid #444444;
// border-radius
$border-radius-5: 5px;
$border-radius-10: 10px;
// box shadow colours
$shadow-dark-grey: 5px 5px 5px #1f1f1f;
